.images img {
  width: 200px;
  height: 175px;
  padding: auto;
  padding: 15px 5px;

  border-radius: 20px;
}

body {
  text-align: center;
  background: linear-gradient(
    45deg,
    rgb(143, 108, 108) 0 50%,
    rgb(151, 151, 223) 50% 100%
  );
}
